---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lora|Ubuntu:400,700&display=swap"
            rel="stylesheet"
        />
        <title>006 - Responsive Web Design</title>
    </head>
    <body>
        <header>
            <div class="container">
                <hgroup class="site-title">
                    <h1>Living the social life</h1>
                    <p class="subtitle">A blog exploring minimalism in life</p>
                </hgroup>
                <nav>
                    <ul>
                        <li><a href="#" class="current-page">Home</a></li>
                        <li><a href="#">About me</a></li>
                        <li><a href="#">Recent posts</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </body>
</html>
<style is:global>
    :root {
        --color-dark: #143774;
        --color-light: #f8f8f8;
        --color-gray: #707070;
        --color-accent: #1792d2;
        font-family: "Ubuntu", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: var(--color-dark);
    }
    body {
        margin: 0;
    }
    header {
        text-align: center;
        background-color: var(--color-light);
    }
    h1 {
        margin-block: 0;
        font-family: "Lora", serif;
        font-weight: 400;
        font-size: 2rem;
    }
    .subtitle {
        margin-block: 0;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 0.75em;
        color: var(--color-accent);
    }
    nav {
        color: var(--color-gray);
    }
    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 1em;
        padding: 0;
    }
    nav a {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: inherit;
        text-decoration: none;
        padding: 0.25em 0;
    }
    nav a:hover,
    nav a:focus {
        text-decoration: underline;
        color: var(--color-accent);
    }
    .current-page {
        border-bottom: 2px solid currentColor;
        color: inherit;
    }
    .current-page:hover,
    .current-page:focus {
        color: inherit;
        text-decoration: none;
    }
    .container {
        width: 90%;
        max-width: 900px;
        margin: 0 auto;
    }
    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0;
        @media (max-width: 768px) {
            & {
                flex-direction: column;
            }
            nav ul {
                flex-direction: column;
                align-items: center;
                gap: 0.5em;
            }
        }
    }
</style>
