---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet"
        />
        <title>006 - Responsive Web Design</title>
    </head>
    <body>
        <header>
            <div class="site-title">
                <h1>Living the social life</h1>
                <p class="subtitle">A blog exploring minimalism in life</p>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About me</a></li>
                    <li><a href="#">Recent posts</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>
<style is:global>
    :root {
    --color-dark: #143774;
    --color-light: #f8f8f8;
    --color-gray: #707070;
    --color-accent: #1792d2;
    font-family: 'Inter', sans-serif;   
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-dark);
    background-color: var(--color-light);
}
</style>