---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lora|Ubuntu:400,700&display=swap"
            rel="stylesheet"
        />
        <title>007 - Responsive Web Design</title>
    </head>
    <body>
        <header>
            <div class="container">
                <hgroup class="site-title">
                    <h1>Living the social life</h1>
                    <p class="subtitle">A blog exploring minimalism in life</p>
                </hgroup>
                <nav>
                    <ul>
                        <li><a href="#" class="current-page">Home</a></li>
                        <li><a href="#">About me</a></li>
                        <li><a href="#">Recent posts</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="container">
                <section class="featured">
                    <p class="frame ar-16-9">
                        <img
                            src="/img/life.webp"
                            alt="a white table with a plant and a lamp in front of a white wall with a clock"
                        />
                    </p>
                    <h2>Finding simplicity in life</h2>
                    <p>
                        Life can get complicated really quickly, but it doesn't
                        have to be! There are many ways to simplify your life, a
                        few of which we've explored in the past. This week we're
                        taking a bit of a approach though, in how you can find
                        simplicity in the life you already living.
                    </p>
                    <a href="#" class="read-more">continue reading</a>
                </section>
                <section class="recent-posts">
                    <article class="post">
                        <h3>Keeping cooking simple</h3>
                        <p class="frame">
                            <img src="/img/food.webp" alt="a plate of food" />
                        </p>
                        <p>
                            Food is a very important part of everyone's life. If
                            you want to be healthy, you have to eat healthy. One
                            of the easiest ways to do that is to keep your
                            cooking <a href="#">simple</a>.
                        </p>
                    </article>
                    <article class="post">
                        <h3>Simplicity and work</h3>
                        <p class="frame">
                            <img
                                src="/img/work.webp"
                                alt="a minimalist desk with a laptop and a plant"
                            />
                        </p>
                        <p>
                            Work is often a major source of stress. People get
                            frustrated, it ruins their relationship with others
                            and it leads to burnout. By keeping your work life
                            as simple as possible, it will help balance
                            everything out.
                        </p>
                        <a href="#" class="read-more">continue reading</a>
                    </article>
                    <article class="post">
                        <h3>Simple decorations</h3>
                        <p class="frame">
                            <img
                                src="/img/deco.webp"
                                alt="a plant in a transparent glass vase"
                            />
                        </p>
                        <p>
                            A home isn't a home until you've decorated a little.
                            People either don't decorate, or they go overboard
                            and it doesn't have the impact they were hoping for.
                            Staying simple will help draw the eye where you want
                            it to and make things pop like never before.
                        </p>
                        <a href="#" class="read-more">continue reading</a>
                    </article>
                </section>
                <section class="sidebar">
                    <aside>
                        <h2>About me</h2>
                        <p class="frame">
                            <img
                                class="ar-1-1"
                                src="/img/avatar.webp"
                                alt="a person with a carefree smile"
                            />
                        </p>
                        <p>
                            I find life better, and I'm happier, when things are
                            nice and simple.
                        </p>
                    </aside>
                    <aside class="blogroll">
                        <h2>Recent posts</h2>
                        <ul>
                            <li>
                                <p class="frame">
                                    <img
                                        class="ar-4-3"
                                        src="/img/food.webp"
                                        alt="a plate of food"
                                    />
                                    Keeping cooking simple
                                </p>
                            </li>
                            <li>
                                <p class="frame">
                                    <img
                                        class="ar-4-3"
                                        src="/img/work.webp"
                                        alt="a minimalist desk with a laptop and a plant"
                                    />Simplicity and work
                                </p>
                            </li>
                            <li>
                                <p class="frame">
                                    <img
                                        class="ar-4-3"
                                        src="/img/deco.webp"
                                        alt="a plate of food"
                                    />
                                    Simple decorations
                                </p>
                            </li>
                        </ul>
                    </aside>
                </section>
            </div>
        </main>
    </body>
    <footer>
        <div class="container">
            <p>Living the social life</p>
            <p>© 2025</p>
        </div>
    </footer>
</html>

<style is:global>
    :root {
        --color-dark: #143774;
        --color-light: #f8f8f8;
        --color-gray: #707070;
        --color-accent: #1792d2;
        font-family: "Ubuntu", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: var(--color-dark);
    }
    body {
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        gap: 1rem;
    }
    header {
        text-align: center;
        background-color: var(--color-light);
    }
    h1 {
        margin-block: 0;
        font-family: "Lora", serif;
        font-weight: 400;
        font-size: 2rem;
    }
    .subtitle {
        margin-block: 0;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 0.75em;
        color: var(--color-accent);
    }
    h2 {
        margin-block: 0;
    }
    nav {
        color: var(--color-gray);
    }
    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 1em;
        padding: 0;
    }
    nav a {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: inherit;
        text-decoration: none;
        padding: 0.25em 0;
    }
    nav a:hover,
    nav a:focus {
        text-decoration: underline;
        color: var(--color-accent);
    }
    .current-page {
        border-bottom: 2px solid currentColor;
        color: inherit;
    }
    .current-page:hover,
    .current-page:focus {
        color: inherit;
        text-decoration: none;
    }
    aside {
        background-color: var(--color-light);
        padding: 1em;
    }
    .container {
        width: 90%;
        max-width: 900px;
        margin: 0 auto;
    }
    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0;
        @media (max-width: 675px) {
            & {
                flex-direction: column;
            }
            nav ul {
                flex-direction: column;
                align-items: center;
                gap: 0.5em;
            }
        }
    }
    .frame {
        overflow: hidden;
        margin: 0 auto;
    }
    .frame img {
        width: 100%;
        object-fit: cover;
        display: block;
    }
    .ar-16-9 {
        aspect-ratio: 16/9;
    }
    .ar-4-3 {
        aspect-ratio: 4/3;
    }
    .ar-1-1 {
        aspect-ratio: 1/1;
    }
    .ar-3-4 {
        aspect-ratio: 3/4;
    }
    .blogroll ul {
        list-style: none;
        padding: 0;
    }
    .blogroll li {
        margin-bottom: 0.5em;
    }
    
    main .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .sidebar {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    footer {
        background-color: var(--color-dark);
        color: var(--color-light);
        text-align: center;
        padding: 2em;
    }
    footer * {
        opacity: 0.7;
        margin-block: 0;
    }

    @media (min-width: 500px) {
        .post {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-areas:
                "frame title"
                "frame content"
                "frame read-more";
            gap: 0.5em;
        }
        .post .frame {
            grid-area: frame;
        }
        .post img {
            aspect-ratio: 3/4;
        }
        .post h3 {
            grid-area: title;
            margin-block: 0;
        }
        .post p {
            grid-area: content;
            margin-block: 0 1em;
        }
        .post a {
            grid-area: read-more;
            margin-block: 0;
        }
        .sidebar {
            flex-direction: row;       
        }
    }
    @media (min-width: 900px) {
        main .container {
            width: clamp(500px, 90%, 900px);
            display: grid;
            gap: 1em;
            grid-template-columns: 3fr 1fr;
            grid-template-areas:
                "featured sidebar"
                "recent-posts sidebar";
        }
        .featured {
            grid-area: featured;
        }
        .recent-posts {
            grid-area: recent-posts;
        }
        .sidebar {
            grid-area: sidebar;
            flex-direction: column;
        }
    }
</style>
