---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/src/css/001.css" />
        <title>001 - Responsive Web Design</title>
    </head>
    <body>
        <div class="card">
            <h1>
                Nisl suscipit <span>adipiscing bibendum</span> est ultricies integer
                quis auctor.
            </h1>
            <p>
                Netus et malesuada fames ac. <a href="#"
                    >Sed cras ornare arcu dui vivamus</a
                >. <strong>Elementum integer enim</strong> neque volutpat ac tincidunt
                vitae semper.
            </p>
            <p class="links">
                <a href="#">contact me</a>
                <a href="#">learn more about me</a>
            </p>
        </div>
    </body>
</html>
